@charset "UTF-8";
/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }

audio:not([controls]) {
  display: none; }

b,
strong {
  font-weight: bolder; }

button {
  -webkit-appearance: button;
  overflow: visible; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

button,
select {
  text-transform: none; }

details {
  display: block; }

hr {
  overflow: visible; }

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; }

input {
  -webkit-border-radius: 0; }
  input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; }
  input[type="number"] {
    width: auto; }
  input[type="search"] {
    -webkit-appearance: textfield; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

main {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

summary {
  display: block; }

svg:not(:root) {
  overflow: hidden; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

/*
 * Opinionated defaults
 */
* {
  margin: 0;
  padding: 0; }

*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  touch-action: manipulation; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

svg {
  fill: currentColor; }

[aria-busy="true"] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute; }
  [hidden][aria-hidden="false"]:focus {
    clip: auto; }

/*
 * Configurable defaults
 */
* {
  background-repeat: no-repeat; }

:root {
  background-color: #ffffff;
  box-sizing: border-box;
  color: #000000;
  cursor: default;
  font: 100% / 1.5 sans-serif; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit; }

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

nav ol,
nav ul {
  list-style: none; }

small {
  font-size: 75%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::-moz-selection {
  background-color: #b3d4fc;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  color: #ffffff;
  text-shadow: none; }

@font-face {
  font-family: 'BrandonGrotesqueWeb-Medium';
  src: url("../fonts/303C64_9_0.eot");
  src: url("../fonts/303C64_9_0.eot?#iefix") format("embedded-opentype"), url("../fonts/303C64_9_0.woff2") format("woff2"), url("../fonts/303C64_9_0.woff") format("woff"), url("../fonts/303C64_9_0.ttf") format("truetype"); }

@font-face {
  font-family: 'BrandonGrotesqueWeb-Bold';
  src: url("../fonts/303C64_3_0.eot");
  src: url("../fonts/303C64_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/303C64_3_0.woff2") format("woff2"), url("../fonts/303C64_3_0.woff") format("woff"), url("../fonts/303C64_3_0.ttf") format("truetype"); }

:root {
  font-size: 10px; }

body {
  color: #171919;
  font-family: sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased; }

.global-header {
  background-image: linear-gradient(to right, rgba(8, 174, 215, 0.8), rgba(94, 210, 232, 0.8));
  display: flex;
  border-bottom: 1px solid #77d2e6;
  padding: 20px 19px; }
  .global-header__heading {
    display: flex;
    align-items: center; }
  .global-header__navigation {
    margin-left: auto; }

.global-header.detail {
  background-image: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

@media screen and (max-width: 1199px) {
  .global-header {
    padding: 1rem; }
    .global-header__heading {
      width: 18%;
      min-width: 100px;
      margin-right: auto; }
      .global-header__heading > a > img {
        width: 100%; } }

.footer {
  position: relative;
  background-color: white; }

.footer__navigation {
  display: flex;
  align-items: center;
  font-family: 'BrandonGrotesqueWeb-Bold';
  padding: 5.0rem 0;
  letter-spacing: 0.12rem;
  margin: 0 auto;
  width: 1200px; }

@media screen and (max-width: 1199px) {
  .footer__navigation {
    width: 100%; } }

.footer-sns-link {
  display: flex;
  margin-left: auto; }
  .footer-sns-link__item + .footer-sns-link__item {
    padding-left: 4rem; }

.footer-navigation {
  display: flex;
  justify-content: space-between;
  width: 690px;
  margin-right: auto;
  letter-spacing: 0.1rem; }
  .footer-navigation__item > a {
    color: #8c9597; }

.footer-content {
  width: 100%;
  border-top: 1px solid #ebf0f1;
  font-size: 1.4rem; }

.footer-pagetop {
  position: absolute;
  top: -30px;
  right: 60px; }
  .footer-pagetop > a {
    display: block;
    background-color: rgba(74, 201, 225, 0.9);
    border-radius: 50%;
    width: 60px;
    height: 60px; }
    .footer-pagetop > a::before {
      content: "";
      display: block;
      position: relative;
      top: 26px;
      right: -22px;
      border-top: 1px solid white;
      border-right: 1px solid white;
      transform: rotate(-45deg);
      width: 16px;
      height: 16px; }

.footer-content__inner {
  display: flex;
  color: #8c9597;
  width: 1199px;
  padding: 3.4rem 0 5.4rem;
  margin: 0 auto; }
  .footer-content__inner__link {
    font-family: 'BrandonGrotesqueWeb-Bold'; }
    .footer-content__inner__link > a {
      color: #8c9597; }
  .footer-content__inner__copyright {
    margin-left: auto;
    font-family: 'BrandonGrotesqueWeb-Medium'; }

@media screen and (max-width: 1199px) {
  .footer__navigation {
    padding-top: 3rem;
    padding-bottom: 1rem; }
  .footer-navigation {
    display: none; }
  .footer-sns-link {
    margin-right: auto; }
  .footer-pagetop {
    right: 2%; } }

@media screen and (max-width: 1199px) {
  .footer-content {
    border-top: none; }
  .footer-content__inner {
    flex-direction: column;
    font-size: 1.2rem;
    text-align: center;
    padding: 6rem 2rem 2.0rem;
    width: 100%; }
    .footer-content__inner__copyright {
      margin-top: 1rem;
      margin-left: 0; } }

.global-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'BrandonGrotesqueWeb-Bold';
  letter-spacing: 0.12rem;
  width: 728px; }
  .global-navigation__item > a {
    display: block;
    color: white;
    line-height: 1; }
  .global-navigation__item--button > a {
    display: block;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    line-height: 1;
    padding: 18px 28px 14px !important; }
    .global-navigation__item--button > a .button-ico {
      display: inline-block;
      margin-top: -0.5rem;
      margin-right: 1.2rem; }

#g_nav ul > li > a {
  padding: 0;
  letter-spacing: inherit;
  font-family: inherit; }

@media screen and (max-width: 1199px) {
  .global-navigation {
    width: 100%; } }

@media screen and (max-width: 767px) {
  .global-navigation {
    display: none; }
  .global-navigation__item--button > a {
    border: none;
    padding: 20px 0 !important; }
    .global-navigation__item--button > a .button-ico {
      display: none; }
  #g_nav ul > li > a {
    padding: 20px 0;
    letter-spacing: inherit;
    font-family: inherit; } }

.recruit-content__inner {
  visibility: hidden; }

.recruit-header + .recruit-content .recruit-content__inner {
  visibility: visible; }

.fadeInDown {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.recruit-page {
  background-color: white;
  background-image: url(../images/recruit-header.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
  overflow: hidden; }
  .recruit-page.detail {
    background-image: url(../images/designer-header.jpg);
    background-size: cover; }

@media screen and (max-width: 767px) {
  .recruit-page {
    background-size: auto 40%; } }

.recruit-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: linear-gradient(to right, rgba(8, 174, 215, 0.8), rgba(94, 210, 232, 0.8));
  color: white;
  overflow: hidden;
  padding: 158px 0 243px;
  width: 100%; }
  .recruit-header__heading {
    position: relative;
    font-family: 'BrandonGrotesqueWeb-Medium';
    font-size: 4.4rem;
    letter-spacing: 0.5rem;
    -webkit-animation: fadeintitle 1s;
    animation: fadeintitle 1s; }
  .recruit-header__sub-heading {
    font-size: 1.6rem;
    letter-spacing: 0.12rem;
    -webkit-animation: fadeintitle 1s;
    animation: fadeintitle 1s; }
  .recruit-header__description {
    position: relative;
    text-align: center;
    line-height: 1.9;
    letter-spacing: 0.2rem;
    -webkit-animation: fadeintitle 1s;
    animation: fadeintitle 1s; }
    .recruit-header__description::before {
      content: "";
      display: block;
      background-color: white;
      margin: 2.8rem auto 4.0rem;
      width: 3.0rem;
      height: 1px; }
  .recruit-header + .recruit-content {
    position: relative;
    background-color: white; }
    .recruit-header + .recruit-content::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.5);
      width: 120%;
      height: 30%;
      margin: 0 -10%;
      transform-origin: right center;
      transform: rotate(3.5deg);
      z-index: 2; }
    .recruit-header + .recruit-content::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      width: 120%;
      height: 70%;
      margin: 0 -10%;
      transform-origin: left center;
      transform: rotate(-3.5deg);
      z-index: 2; }
    .recruit-header + .recruit-content > .recruit-content__inner {
      position: relative;
      margin-top: -2%;
      z-index: 3; }
  .recruit-header.detail {
    background-image: none;
    padding-top: 240px;
    padding-bottom: 320px; }

@media screen and (max-width: 1199px) {
  .recruit-header {
    padding: 14% 0 20.7%; }
    .recruit-header__heading {
      font-size: 3rem; }
    .recruit-header__sub-heading {
      font-size: 1.4rem; }
    .recruit-header__description {
      font-size: 1.2rem;
      padding: 0 2rem; }
      .recruit-header__description::before {
        margin: 1.6rem auto 2rem; }
    .recruit-header.detail {
      background-image: none;
      padding-top: 20%;
      padding-bottom: 26.3%; } }

@media screen and (max-width: 768px) {
  .recruit-header {
    padding: 6% 0 12%; }
    .recruit-header__heading {
      font-size: 1.8rem; }
    .recruit-header__sub-heading {
      font-size: 1.2rem;
      font-weight: bold; }
    .recruit-header__description {
      letter-spacing: 0.12rem;
      line-height: 1.5; }
      .recruit-header__description::before {
        margin: 1rem auto;
        opacity: 0.5; } }

@-webkit-keyframes fadeintitle {
  0% {
    opacity: 0;
    transform: translateY(-12px); }
  60% {
    opacity: 0.8; }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fadeintitle {
  0% {
    opacity: 0;
    transform: translateY(-12px); }
  60% {
    opacity: 0.8; }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

.recruit-content {
  background-color: white;
  padding: 7.2% 0 10.8%; }
  .recruit-content__inner {
    margin: 0 auto;
    width: 1200px; }

@media screen and (max-width: 1199px) {
  .recruit-content__inner {
    width: 100%; } }

.recruit-content--type-a {
  background-color: #f5f8f9;
  padding-top: 4.2%;
  padding-bottom: 4.2%;
  margin-bottom: 300px; }

@media screen and (max-width: 1199px) {
  .recruit-content--type-a {
    margin-bottom: 0; } }

.recruit-content--type-b {
  background-color: #5ed2e8;
  background-image: linear-gradient(to right, #13b2d9, #5ed2e8);
  padding-top: 6.7%;
  padding-bottom: 6.4%; }

.recruit-content--type-c {
  background-color: #90a0a7;
  background-image: url(../images/recruit-link-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding-top: 7%;
  padding-bottom: 4.8%; }

.recruit-content--type-d {
  border-top: 1px solid #e3e7e8; }

.recruit-content--type-e {
  background-color: #f5f8f9;
  border-top: 6px solid #0cafd8; }

.recruit-content-future {
  padding-top: 56px;
  padding-bottom: 82px; }

.recruit-content-message {
  padding-top: 49px;
  padding-bottom: 50px; }

.recruit-content-ohakoway {
  padding-top: 86px;
  padding-bottom: 130px; }

.recruit-content-workplace {
  padding-top: 86px;
  padding-bottom: 88px; }

.recruit-content-office {
  padding-top: 81px;
  padding-bottom: 80px; }

.recruit-content-joblist {
  padding-top: 81px;
  padding-bottom: 56px; }

.recruit-content-willyoudo {
  padding-bottom: 92px; }

.recruit-content-entry {
  padding-top: 6.6%;
  padding-bottom: 6.5%; }

@media screen and (max-width: 1199px) {
  .recruit-content-future {
    padding-top: 4.7%;
    padding-bottom: 6.8%; }
  .recruit-content-message {
    padding-top: 4.2%;
    padding-bottom: 4.8%; }
  .recruit-content-ohakoway {
    padding-top: 7.2%;
    padding-bottom: 10.8%; }
  .recruit-content-workplace {
    padding-top: 7.2%;
    padding-bottom: 7.3%; }
  .recruit-content-office {
    padding-top: 6.7%;
    padding-bottom: 6.7%; }
  .recruit-content-joblist {
    padding-top: 7.2%;
    padding-bottom: 8.1%; }
  .recruit-content-willyoudo {
    padding-bottom: 7.7%; } }

.recruit-content iframe {
  display: block;
  margin: 70px auto 30px; }

@media screen and (max-width: 767px) {
  .recruit-content iframe {
    margin: 30px auto 60px; } }

.recruit-content-header {
  color: #3ac1dd;
  text-align: center;
  margin-bottom: 3rem; }
  .recruit-content-header__title {
    font-size: 3.0rem;
    line-height: 1.9; }
    .recruit-content-header__title.is-white {
      color: white; }
    .recruit-content-header__title > span {
      display: block; }
  .recruit-content-header__sub-title {
    font-family: 'BrandonGrotesqueWeb-Bold';
    font-size: 1.8rem;
    letter-spacing: 0.12rem; }
    .recruit-content-header__sub-title.is-white {
      color: white; }
    .recruit-content-header__sub-title + .recruit-content-header__title {
      margin-top: 1.4rem; }
  .recruit-content-header__text--white {
    color: white; }

@media screen and (max-width: 1199px) {
  .recruit-content-header {
    margin-bottom: 1.2rem; }
    .recruit-content-header__title {
      font-size: 2.2rem;
      line-height: 1.7; }
    .recruit-content-header__sub-title {
      font-size: 1.4rem; }
      .recruit-content-header__sub-title + .recruit-content-header__title {
        margin-top: 0.8rem; } }

@media screen and (max-width: 767px) {
  .recruit-content-header__title {
    font-size: 1.6rem; }
  .recruit-content-header__sub-title {
    font-size: 1.3rem; }
  .recruit-content-header__sub-heading {
    font-size: 1.0rem; } }

.recruit-content-main__text {
  text-align: center;
  padding: 0 128px;
  line-height: 1.9; }
  .recruit-content-main__text.is-white {
    color: white; }
  .recruit-content-main__text + .recruit-content-main__text {
    font-family: sans-selif,'Myriad';
    margin-top: 1.8rem; }
  .recruit-content-main__text + .recruit-content-list {
    margin-top: 4.0rem; }

@media screen and (max-width: 1199px) {
  .recruit-content-main__text {
    font-size: 1.4rem;
    padding: 0 2rem; } }

.recruit-message__photo {
  background-color: gray;
  border-radius: 50%;
  margin: 0 auto 1.7rem;
  width: 120px;
  height: 120px; }

.recruit-message__text {
  position: relative;
  line-height: 1.9;
  padding: 0 12.8rem;
  margin-bottom: 1.7rem; }
  .recruit-message__text::before, .recruit-message__text::after {
    content: "";
    display: block;
    position: absolute;
    color: #dce1e3;
    font-size: 11rem;
    font-family: 'BrandonGrotesqueWeb-Bold';
    line-height: 0; }
  .recruit-message__text::before {
    content: "“";
    top: 6.4rem;
    left: 5.7rem; }
  .recruit-message__text::after {
    content: "”";
    bottom: -1.8rem;
    right: 5.7rem;
    vertical-align: bottom; }

.recruit-message__caption {
  text-align: center;
  font-size: 2.0rem;
  font-weight: bold; }
  .recruit-message__caption span {
    display: block;
    color: #a3aaab;
    font-family: 'Avenir Next Regular';
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 0.6rem; }

@media screen and (max-width: 1199px) {
  .recruit-message__text {
    font-size: 1.4rem;
    padding: 0 1rem; }
    .recruit-message__text::before, .recruit-message__text::after {
      content: none; }
  .recruit-message__caption {
    font-size: 1.3rem; } }

.recruit-content-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  counter-reset: increment-list; }

.recruit-content-list-item.is-col-2 {
  position: relative;
  padding: 26px 40px 80px 80px;
  width: 540px; }
  .recruit-content-list-item.is-col-2::before {
    counter-increment: increment-list;
    content: counter(increment-list);
    font-size: 3.0rem;
    position: absolute;
    display: block;
    top: 18px;
    left: 36px;
    color: #cdcdcd; }
  .recruit-content-list-item.is-col-2::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5; }

.recruit-content-list-item__title {
  font-size: 2.2rem;
  margin-bottom: 0.3rem; }
  .recruit-content-list-item__title.is-white {
    color: white; }

.recruit-content-list-item__sub-title {
  font-size: 1.5rem;
  margin-bottom: 0.8rem; }
  .recruit-content-list-item__sub-title::before {
    content: "-";
    display: inline-block;
    margin-right: 0.8rem; }

.recruit-content-list-item__image {
  margin-bottom: 2.0rem; }

.recruit-content-list-item__caption {
  color: #16b4d9;
  font-size: 1.8rem; }
  .recruit-content-list-item__caption.is-white {
    color: white; }

.recruit-content-list-item__text {
  color: #7b7b7b;
  font-size: 1.5rem;
  line-height: 1.9; }
  .recruit-content-list-item__text.is-white {
    color: white; }

.recruit-content-button {
  display: block; }
  .recruit-content-button--type-a {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid currentcolor;
    border-radius: 5px;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.0;
    padding: 26px 27px;
    overflow: hidden;
    transition: color 0.35s ease-out, background-color 0.35s ease-out, border-color 0.35s ease-out; }
    .recruit-content-button--type-a::after {
      content: "";
      display: block;
      position: absolute;
      top: calc(50% - 4px);
      right: 30px;
      border-top: 1px solid currentcolor;
      border-right: 1px solid currentcolor;
      transform: rotate(45deg);
      width: 8px;
      height: 8px;
      transition: border-color 0.35s ease-out; }
    .recruit-content-button--type-a:hover {
      background-color: rgba(58, 193, 221, 0.9);
      border-color: rgba(58, 193, 221, 0.9);
      box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.07);
      font-weight: bold;
      transition: background-color 0.35s linear, border-color 0.35s linear, box-shadow 0.35s linear; }

@media screen and (max-width: 767px) {
  .recruit-content-button--type-a {
    font-size: 1.4rem;
    padding: 2rem; } }

.recruit-content-table {
  font-family: sans-serif;
  margin: 0 auto 4rem;
  width: 900px;
  line-height: 1.9; }
  .recruit-content-table__th {
    text-align: left;
    vertical-align: top;
    width: 170px; }
  .recruit-content-table__td {
    padding-bottom: 4rem; }
    .recruit-content-table__td .recruit-content-table__heading {
      font-weight: bold;
      margin-bottom: 0.5rem; }
    .recruit-content-table__td p + .recruit-content-table__heading {
      margin-top: 3rem; }
    .recruit-content-table__td ul + .recruit-content-table__heading {
      margin-top: 3rem; }
    .recruit-content-table__td li {
      list-style: none;
      margin-left: -0.5rem; }
      .recruit-content-table__td li::before {
        content: "・";
        display: inline-block; }

@media screen and (max-width: 1199px) {
  font-size: 1.4rem;
  width: 93%; }

@media screen and (max-width: 767px) {
  .recruit-content-table {
    font-size: 1.2rem;
    margin: 0 auto;
    width: 90%;
    line-height: 1.7; }
    .recruit-content-table__th {
      width: 9rem; }
    .recruit-content-table__td p + .recruit-content-table__heading {
      margin-top: 1.5rem; }
    .recruit-content-table__td ul + .recruit-content-table__heading {
      margin-top: 1.5rem; } }

.recruit-ohakoway {
  margin-top: 4.0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  counter-reset: increment-list; }
  .recruit-ohakoway-item {
    position: relative;
    padding: 34px 40px 80px 80px;
    width: 45%; }
    .recruit-ohakoway-item::before {
      content: attr(data-counter);
      font-family: 'BrandonGrotesqueWeb-Bold';
      font-size: 3.0rem;
      position: absolute;
      display: block;
      top: 32px;
      left: 40px;
      color: #cdcdcd; }
    .recruit-ohakoway-item::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 56px;
      height: 56px;
      border-top: 1px solid #e5e5e5;
      border-left: 1px solid #e5e5e5; }
    .recruit-ohakoway-item__title {
      font-size: 2.2rem;
      margin-bottom: 0.6rem; }
    .recruit-ohakoway-item__sub-title {
      font-size: 1.5rem;
      margin-bottom: 1.6rem; }
      .recruit-ohakoway-item__sub-title::before {
        content: "-";
        display: inline-block;
        margin-right: 0.8rem; }
    .recruit-ohakoway-item__text {
      color: #7b7b7b;
      font-size: 1.5rem;
      line-height: 1.9; }

@media screen and (max-width: 1199px) {
  .recruit-ohakoway {
    margin-top: 2rem; }
    .recruit-ohakoway-item {
      padding: 3.8rem 6rem 1rem 8rem; }
      .recruit-ohakoway-item__title {
        font-size: 1.6rem; }
      .recruit-ohakoway-item__sub-title {
        font-size: 1.4rem;
        margin-bottom: 0.8rem; }
      .recruit-ohakoway-item__text {
        font-size: 1.4rem; }
      .recruit-ohakoway-item::after {
        display: none; } }

@media screen and (max-width: 768px) {
  .recruit-ohakoway-item {
    padding-top: 3.2rem;
    padding-right: 3rem;
    padding-left: 6.5rem;
    width: 100%; }
    .recruit-ohakoway-item::before {
      font-size: 2rem; } }

.recruit-workplace {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none; }

.recruit-workplace-item {
  text-align: center;
  width: 23%; }
  .recruit-workplace-item__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6dd1e8;
    border-radius: 5px;
    text-align: center;
    margin: 4.8rem auto 1.6rem;
    width: 160px;
    height: 160px; }
  .recruit-workplace-item__caption {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.6rem; }
  .recruit-workplace-item__text {
    color: white;
    font-size: 1.4rem;
    line-height: 1.9; }

@media screen and (max-width: 1199px) {
  .recruit-workplace {
    padding: 0 2rem; }
  .recruit-workplace-item {
    width: 23%; }
    .recruit-workplace-item__caption {
      font-size: 1.3rem;
      margin-bottom: 0.5rem; }
    .recruit-workplace-item__text {
      font-size: 1.2rem; } }

@media screen and (max-width: 767px) {
  .recruit-workplace-item__image {
    padding: 15% 0;
    max-width: 100%;
    height: auto; }
    .recruit-workplace-item__image > img {
      padding: 10% 0;
      width: 60%; } }

@media screen and (max-width: 414px) {
  .recruit-workplace {
    padding: 0 1rem; }
  .recruit-workplace-item {
    width: 48%; }
    .recruit-workplace-item__caption {
      font-size: 1.3rem; }
    .recruit-workplace-item__image {
      width: 100%;
      height: auto;
      margin-top: 3rem;
      padding: 0; }
      .recruit-workplace-item__image > img {
        width: 45%;
        height: auto;
        padding-top: 20%;
        padding-bottom: 20%; }
    .recruit-workplace-item__text {
      font-size: 1.3rem; } }

.recruit-workplace-office {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none; }

@media screen and (max-width: 1199px) {
  .recruit-workplace-office {
    padding: 0 2rem; } }

.recruit-workplace-office-item {
  width: 31.3%; }
  .recruit-workplace-office-item__image {
    margin-bottom: 1.8rem; }
    .recruit-workplace-office-item__image > img {
      width: 100%;
      height: auto; }
  .recruit-workplace-office-item__caption {
    color: #37c4de;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem; }
  .recruit-workplace-office-item__text {
    font-size: 1.4rem;
    line-height: 1.8; }

@media screen and (max-width: 414px) {
  .recruit-workplace-office {
    padding: 0 1em; }
  .recruit-workplace-office-item {
    margin-bottom: 2rem;
    width: 100%; }
    .recruit-workplace-office-item__image {
      margin-bottom: 1rem; }
      .recruit-workplace-office-item__image > img {
        width: 100%;
        max-width: 376px; }
    .recruit-workplace-office-item__caption {
      font-size: 1.4rem;
      margin-bottom: 0.2rem; }
    .recruit-workplace-office-item__text {
      font-size: 1.3rem; } }

.recruit-wanted {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding-top: 1.4rem; }

.recruit-wanted-item {
  width: 31.3%;
  margin-bottom: 4rem; }

@media screen and (max-width: 1199px) {
  .recruit-wanted {
    padding: 0 2rem; } }

@media screen and (max-width: 768px) {
  .recruit-wanted {
    padding: 0 2rem; }
  .recruit-wanted-item {
    width: 49%;
    margin-bottom: 2rem; } }

@media screen and (max-width: 415px) {
  .recruit-wanted-item {
    width: 100%;
    margin-bottom: 1rem; } }
